nav {
  height: 6rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-evenly;
  border-top: 0.05rem solid var(--accent-color-gold);
  border-bottom: 0.05rem solid var(--accent-color-gold);
  position: sticky;
  z-index: 1;
  top: 0;
}

nav a {
  border-left: 0.05rem solid var(--color-mid);
  border-right: 0.05rem solid var(--color-mid);
}

.active {
  color: var(--accent-color-silver);
}
